<div class="edit-container">

  <div mat-dialog-content>
    <ng-container *ngIf="(shifts$ | async) as shifts">
      <app-employee-shift-wrapper
        *ngFor="let employee of selectedEmployees$ | async"
        [employee]="employee"
        [shifts]="shifts[employee.id]"
        (emitEditedShifts)="getEditedShifts($event)"
        (emitEditedEmployees)="getEditedEmployee($event)"
      ></app-employee-shift-wrapper>
    </ng-container>
  </div>
  <div mat-dialog-actions>
    <button [disabled]="isLoading$ | async" mat-flat-button (click)="save()" >Save</button>
    <button (click)="close()" mat-button mat-stroked-button>Cancel</button>
  </div>
</div>
